/node_modules
/public
/storage
/vendor
/.git
/.github
/.idea
/.vscode
*.blade.php
*.php
*.json
*.md
*.yml
*.yaml
*.sql
*.lock
*.log
.DS_Store
.phpunit.result.cache
.php-cs-fixer.cache
.phpcs-cache
.env
.env.*
!.env.example
!.env.testing
